Un vendedor recibe un sueldo base más un 10% extra por
comisión de sus ventas, el vendedor desea saber cuánto
dinero obtendrá por concepto de comisiones por las tres
ventas que realiza en el mes y el total que recibirá en
el mes tomando en cuenta su sueldo base y comisiones.

Sesion 3 - Clase 3

In [ ]:
#@title Taller Profundizacion Ejercicio 1
venta1 = float(input("\nIngrese total venta 1: $"))
venta2 = float(input("\nIngrese total venta 2: $"))
venta3 = float(input("\nIngrese total venta 3: $"))
Total_Ventas = venta1 + venta2 + venta3
print("\nEl resultado de las ventas ${:,.0f} + ${:,.0f} + ${:,.0f} es =${:,.0f}".format(venta1, venta2, venta3, Total_Ventas))
comision1 = venta1 * 0.10
print(f"\nComision de la primera venta es = ${comision1:,.0f}")
comision2 = venta2 * 0.10
print(f"\nComision de la Segunda venta es = ${comision2:,.0f}")
comision3 = venta3 * 0.10
print(f"\nComision de la Tercera venta es = ${comision3:,.0f}")
Total_Comision = comision1 + comision2 + comision3
print("\nEl total de las comisiones ${:,.0f} + ${:,.0f} + ${:,.0f} es =${:,.0f}".format(comision1, comision2, comision3, Total_Comision))
sueldo = float(input("\n¿Ingrese sueldo Base: $"))
resultado = sueldo + Total_Comision
print(f"\nTotal Salario devengado mensual es de: ${resultado:,.0f}")

KeyboardInterrupt: ignored

Una tienda ofrece un descuento del 15% sobre el total
de la compra y un cliente desea saber cuánto deberá
pagar finalmente por su compra.

In [ ]:
#@title Taller Profundizacion  Ejercicio 2
compra = int(input("\nValor Total compra: $"))
descuento = compra * 0.15
resultado = compra - descuento
print(f"\nGanaste 15% de descuento.")
print(f"\nTotal descuento ${descuento:,.0f}")
print(f"\nTotal a pagar ${resultado:,.0f}")
print("\nGracias por preferirnos")

Valor Total compra: $1500054563

Ganaste 15% de descuento.

Total descuento $225,008,184

Total a pagar $1,275,046,379

Gracias por preferirnos

Un alumno desea saber cuál será su calificación final en
la materia de Algoritmos. Dicha calificación se compone
de tres exámenes parciales.

In [ ]:
#@title Taller Profundizacion  Ejercicio 3
calificacion1 = float(input("\nValor Calificacion 1: "))
calificacion2 = float(input("\nValor Calificacion 2: "))
calificacion3 = float(input("\nValor Calificacion 3: "))
Suma_calificaciones = calificacion1 + calificacion2 + calificacion3
print("\nResultado Calificaciones {} + {} + {} es = {}".format(calificacion1, calificacion2, calificacion3, Suma_calificaciones))
Cant = 3
Calificacion_final = (Suma_calificaciones / Cant)
print(f"\nTotal Calificacion final de la Materia Algoritmos es= {Calificacion_final:,.1f}")

Valor Calificacion 1: 5.7

Valor Calificacion 2: 4.2

Valor Calificacion 3: 8.0

Resultado Calificaciones 5.7 + 4.2 + 8.0 es = 17.9

Total Calificacion final de la Materia Algoritmos es= 6.0

Un maestro desea saber qué porcentaje de hombres y que
porcentaje de mujeres hay en un grupo de estudiantes.

In [ ]:
#@title Taller Profundizacion  Ejercicio 4
Cant_H =int(input("\nIngrese Cantidad de Estudiantes Hombres "))
Cant_M =int(input("\nIngrese Cantidad de Estudiantes Mujeres "))
print("\nTotal Estudiantes Hombres {}".format(Cant_H))
print("\nTotal Estudiantes Mujeres {}".format(Cant_M))
Total_Grupo = Cant_H + Cant_M
print("\nTotal Grupo de Estudiantes es = {}".format(Total_Grupo))
Porc_H = (Cant_H / Total_Grupo *100)
Porc_M = (Cant_M / Total_Grupo *100)
print(f"\nPorcentaje de Hombres es= {Porc_H:,.1f}")
print(f"\nPorcentaje de Mujeres es= {Porc_M:,.1f}")
Total_Porcentaje = Porc_H + Porc_M
print(f"\nTotal Porcentaje = {Total_Porcentaje:,.0f}")

Ingrese Cantidad de Estudiantes Hombres 7

Ingrese Cantidad de Estudiantes Mujeres 19

Total Estudiantes Hombres 7

Total Estudiantes Mujeres 19

Total Grupo de Estudiantes es = 26

Porcentaje de Hombres es= 26.9

Porcentaje de Mujeres es= 73.1

Total Porcentaje = 100

Taller profundizacion Ejercicio 2

1.Se necesita un sistema que despliega una tabla de multiplicar de un número dado por el usuario. ciclo for

In [2]:
num = int(input("Digite el numero de la tabla de multiplicar: "))

for i in range(11):
  print(i, " x ",num, " = ", i* num)

Digite el numero de la tabla de multiplicar: 2
0  x  2  =  0
1  x  2  =  2
2  x  2  =  4
3  x  2  =  6
4  x  2  =  8
5  x  2  =  10
6  x  2  =  12
7  x  2  =  14
8  x  2  =  16
9  x  2  =  18
10  x  2  =  20

2.Se necesita un sistema que pida un sueldo de un trabajador, si el sueldo es mayor a 655000, no tedrá ninguna bonificación, pero si es menor tiene bonificación del 4%. Al final se desea saber el total del sueldo con o sin bonificación. Preguntar si desea ejecutar de nuevo el programa con el ciclo while.

In [5]:
ejecuta = "si"
while ejecuta == "si" or ejecuta == "s" or ejecuta == "SI":

  Sueldo = int(input("Ingrese su sueldo = $"))

  if Sueldo > 655000:
    boni1 = 0
    Sueldo_total = boni1 + Sueldo
    print("\nNo obtienes bonificacion = Tu salario es de ${:,.0f}".format(Sueldo_total))
  elif Sueldo <= 655000:
    boni2 = Sueldo * 0.04
    Sueldo_total2 = boni2 + Sueldo
    print("\nObtuviste una comision del 4% = Tu salario es de ${:,.0f}".format(Sueldo_total2))



#while:
  #print("No obtienes comision")

Ingrese su sueldo = $640000

Obtuviste una comision del 4% = Tu salario es de $665,600
Ingrese su sueldo = $655000

Obtuviste una comision del 4% = Tu salario es de $681,200

KeyboardInterrupt: ignored

In [ ]:
#@title, Lanzamiento

ejecuta = "si"
while ejecuta == "si" or ejecuta == "s" or ejecuta == "SI":

  Sueldo = int(input("\nIngrese su sueldo = $"))

  if Sueldo <= 655000:
    boni = Sueldo * 0.04
    Sueldo_total = boni + Sueldo
    print("\nObtuviste una comision del 4% = Tu salario es de ${:,.0f}".format(Sueldo_total))
  
  else: 
    Sueldo_total = Sueldo
    print("\nNo obtienes bonificacion = Tu salario es de ${:,.0f}".format(Sueldo_total))
  ejecuta = input("\nDesea ejecutar de nuevo el programa: ")

Ingrese su sueldo = $640000

Obtuviste una comision del 4% = Tu salario es de $665,600

Desea ejecutar de nuevo el programa: si

Ingrese su sueldo = $655000

Obtuviste una comision del 4% = Tu salario es de $681,200

3.Un maestro necesita un sistema para capturar las calificaciones de 5 parciales de sus alumnos, después recapturarlas necesita que se despliegue el promedio, cuando ya no quiera capturar más alumnos, necesita que se despliegue el promedio general de todos los alumnos capturados. Preguntar si desea ejecutar de nuevo el programa con el ciclo while.

In [1]:
resp = "si"
while resp == "si" or resp == "s" or resp == "SI" or resp == "YES" or resp == "yes" or resp == "Y" or resp =="y": 

  cal1 = float(input("Digite la calificacion 1: "))
  cal2 = float(input("Digite la calificacion 2: "))
  cal3 = float(input("Digite la calificacion 3: "))
  cal4 = float(input("Digite la calificacion 4: "))
  cal5 = float(input("Digite la calificacion 5: "))

  promedio = round((cal1 + cal2 + cal3 + cal4 + cal5)/5, 2)

  if promedio >= 3.0:
    estado = "Aprobado++"
  else:
    estado = "reprobado--"
  print(f"el promedio es= {promedio} y el estado es= {estado}")
  resp = input("Desea ingresar otras 5 calificaciones: ")

Digite la calificacion 1: 3.0
Digite la calificacion 2: 4.1
Digite la calificacion 3: 2.1
Digite la calificacion 4: 1.7
Digite la calificacion 5: 1.0
el promedio es= 2.38 y el estado es= reprobado--
Desea ingresar otras 5 calificaciones: s
Digite la calificacion 1: 3.0
Digite la calificacion 2: 3.2
Digite la calificacion 3: 4.2
Digite la calificacion 4: 5.0
Digite la calificacion 5: 4.3
el promedio es= 3.94 y el estado es= Aprobado++
Desea ingresar otras 5 calificaciones: n

4.Crear un bucle que cuente todos los números pares hasta el 100 ciclo for

In [ ]:
for i in range(2,101,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

5.Haz una tabla de multiplicar utilizando el ciclo for ciclo for

In [ ]:
num = 2

for i in range(101):
  print(i, " x ",num, " = ", i* num)

0  x  2  =  0
1  x  2  =  2
2  x  2  =  4
3  x  2  =  6
4  x  2  =  8
5  x  2  =  10
6  x  2  =  12
7  x  2  =  14
8  x  2  =  16
9  x  2  =  18
10  x  2  =  20
11  x  2  =  22
12  x  2  =  24
13  x  2  =  26
14  x  2  =  28
15  x  2  =  30
16  x  2  =  32
17  x  2  =  34
18  x  2  =  36
19  x  2  =  38
20  x  2  =  40
21  x  2  =  42
22  x  2  =  44
23  x  2  =  46
24  x  2  =  48
25  x  2  =  50
26  x  2  =  52
27  x  2  =  54
28  x  2  =  56
29  x  2  =  58
30  x  2  =  60
31  x  2  =  62
32  x  2  =  64
33  x  2  =  66
34  x  2  =  68
35  x  2  =  70
36  x  2  =  72
37  x  2  =  74
38  x  2  =  76
39  x  2  =  78
40  x  2  =  80
41  x  2  =  82
42  x  2  =  84
43  x  2  =  86
44  x  2  =  88
45  x  2  =  90
46  x  2  =  92
47  x  2  =  94
48  x  2  =  96
49  x  2  =  98
50  x  2  =  100
51  x  2  =  102
52  x  2  =  104
53  x  2  =  106
54  x  2  =  108
55  x  2  =  110
56  x  2  =  112
57  x  2  =  114
58  x  2  =  116
59  x  2  =  118
60  x  2  =  120
61  x  2  =  122
62  x  2  =  124
63  x  2  =  126
64  x  2  =  128
65  x  2  =  130
66  x  2  =  132
67  x  2  =  134
68  x  2  =  136
69  x  2  =  138
70  x  2  =  140
71  x  2  =  142
72  x  2  =  144
73  x  2  =  146
74  x  2  =  148
75  x  2  =  150
76  x  2  =  152
77  x  2  =  154
78  x  2  =  156
79  x  2  =  158
80  x  2  =  160
81  x  2  =  162
82  x  2  =  164
83  x  2  =  166
84  x  2  =  168
85  x  2  =  170
86  x  2  =  172
87  x  2  =  174
88  x  2  =  176
89  x  2  =  178
90  x  2  =  180
91  x  2  =  182
92  x  2  =  184
93  x  2  =  186
94  x  2  =  188
95  x  2  =  190
96  x  2  =  192
97  x  2  =  194
98  x  2  =  196
99  x  2  =  198
100  x  2  =  200

6.Escribir un programa que pregunte al usuario su edad y muestre por pantalla todos los años que ha cumplido (desde 1 hasta su edad). ciclo for

In [ ]:
edad = int(input("\n¿Que edad tienes?: Yo tengo "))

for i in range(edad):
  print("\nHa Cumplido un total de " + str(i+1) + " Años")

¿Que edad tienes?: Yo tengo 43

Ha Cumplido un total de 1 Años

Ha Cumplido un total de 2 Años

Ha Cumplido un total de 3 Años

Ha Cumplido un total de 4 Años

Ha Cumplido un total de 5 Años

Ha Cumplido un total de 6 Años

Ha Cumplido un total de 7 Años

Ha Cumplido un total de 8 Años

Ha Cumplido un total de 9 Años

Ha Cumplido un total de 10 Años

Ha Cumplido un total de 11 Años

Ha Cumplido un total de 12 Años

Ha Cumplido un total de 13 Años

Ha Cumplido un total de 14 Años

Ha Cumplido un total de 15 Años

Ha Cumplido un total de 16 Años

Ha Cumplido un total de 17 Años

Ha Cumplido un total de 18 Años

Ha Cumplido un total de 19 Años

Ha Cumplido un total de 20 Años

Ha Cumplido un total de 21 Años

Ha Cumplido un total de 22 Años

Ha Cumplido un total de 23 Años

Ha Cumplido un total de 24 Años

Ha Cumplido un total de 25 Años

Ha Cumplido un total de 26 Años

Ha Cumplido un total de 27 Años

Ha Cumplido un total de 28 Años

Ha Cumplido un total de 29 Años

Ha Cumplido un total de 30 Años

Ha Cumplido un total de 31 Años

Ha Cumplido un total de 32 Años

Ha Cumplido un total de 33 Años

Ha Cumplido un total de 34 Años

Ha Cumplido un total de 35 Años

Ha Cumplido un total de 36 Años

Ha Cumplido un total de 37 Años

Ha Cumplido un total de 38 Años

Ha Cumplido un total de 39 Años

Ha Cumplido un total de 40 Años

Ha Cumplido un total de 41 Años

Ha Cumplido un total de 42 Años

Ha Cumplido un total de 43 Años